<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <hr>
  <h1> ngModel </h1>
  <!--
   ngModel
   se nesita un paquete
   import { FormsModule } from '@angular/forms';
   imports: [
      FormsModule
    ],
  -->
  <p>Nombre {{ objPersona.name }}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="objPersona.name" />
  <p>Valid: {{ nameInput.valid }}</p>
  <p>Age {{ objPersona.age }}</p>
  <input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="objPersona.age" />
  <p>Valid: {{ ageInput.valid }}</p>

  <hr>
  <h1> Eventos (Property Binding) </h1>
  <!-- (keyup) EVENT-->
  <input type="text" (keyup)="evetKeyUpTxtName($event)" value="{{name}}"/>
  <p>{{name}}</p>

  <!-- (scroll) EVENT-->
  <div class="box" (scroll)="evetScrollMove($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis molestiae ratione repudiandae voluptatibus pariatur laboriosam dolores tempore minus iusto dicta officiis modi molestias, quidem cumque recusandae quaerat porro nostrum!</p>
  </div>

  <!-- (click) EVENT-->
  <button [disabled] = "btnDisbled"> Enviar </button>
  <button (click)="metToggleButton()"> Toogle Button </button>
  <p>Edad {{ age }}</p><button (click)="metIncrementAge()">Age ++</button>
  <p>Obj Edad {{ objPersona.age}}</p><button (click)="metIncrementObjAge()">Age obj ++</button>

  <hr>
  <h3>Objetos - Proiedades</h3>
  <button [disabled] = "btnDisbled"> Enviar </button>
  <input type="text" [value]="objPersona.name" />
  <img [src]="objPersona.img" alt="" srcset="" width="100"/>
  <progress max="100" [value]="objPersona.age"></progress>

  <!-- Property Binding []: es recomendable solo en texto en parrafos -->
  <hr>
  <h3>Proiedades (Property Binding)</h3>
  <button [disabled] = "btnDisbled"> Enviar </button>
  <input type="text" [value]="name" />
  <img [src]="img" alt="" srcset="" width="100"/>
  <progress max="100" [value]="age"></progress>

  <!-- string interpolation {{}}: es recomendable solo en texto en parrafos -->
  <hr>
  <h1> Hola Mundo (string interpolation)</h1>
  {{"hola,".repeat(5)}} <br>
  <p> 3 + 3 = {{ 3 + 3}} </p>
  <h3> Hola soy {{ name }} y me edad es {{ age }}</h3>
  <img src="{{img}}" width="100"/>

</body>
</html>
